<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Детали заказа</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}" />
    <h1 th:text="'Заказ №' + ${order.id}"></h1>
    <br>

    <div class="form-group col-md-6">
        <label for="nameInput">Имя</label>
        <input class="form-control" th:value="${order.name}" name="name" type="text" id="nameInput" readonly>
    </div>
    <div class="form-group col-md-6">
        <label for="addressInput">Адрес</label>
        <textarea style="resize: none" class="form-control" th:text="${order.address}" name="address" id="addressInput" rows="2" readonly></textarea>
    </div>
    <div class="form-group col-md-6">
        <label for="phoneNumberInput">Телефон</label>
        <input class="form-control" th:value="${order.phoneNumber}" name="phone_number" type="text" id="phoneNumberInput" readonly>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oi : ${order.items}">
            <td th:text="${oi.product.title}"/>
            <td th:text="${oi.quantity}"/>
            <td th:text="${oi.price}"/>
        </tr>
        <tr>
            <td></td>
            <td style="font-weight: bold">Итого:</td>
            <td style="font-weight: bold" th:text="${order.price}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>